# API keys and secrets
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
.venv/

# virtual environments
SEAL-RAG/.venv/
ares-env/

# Jupyter checkpoints
.ipynb_checkpoints/

# HuggingFace cache
.cache/

# large data files
*.parquet
*.arrow
*.pt
ARES/
SEAL-RAG/
nq_few_shot_prompt_for_judge_scoring.tsv
*_ares_input.tsv
nq_few_shot_prompt_for_judge_scoring.tsv
*_ares_input.tsv
